*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    padding: 3px;
    
}
.responsive{
    display: none;
    
}
.navoptions{
    display: none;
}
a:hover{
    color: blue;
    font-size:18px ;
}
label{
    margin-left: 10px;
}
a{
    color: rgb(69, 68, 68);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family:  sans-serif;
}
nav{
    display: flex;
    z-index: 1000;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(232, 78, 203);
}
.d-seven{
    color: rgb(71, 12, 71);
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 14px;
    margin-right: 10px;
}
.Departments{
    display: none;
    position: absolute;
    top: 80px;
    z-index: 1000;
    text-decoration: underline;
    font-size: 18px;
    border: 2px ;
    background-color: white;
    padding: 10px 20px;
}
.departmentHead:hover .Departments{
    display: block;
}
.departmentHead{
    background-color:rgb(232, 78, 203);

}
