@media  screen and (max-width: 475px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .shadow{
        display: none;
    }
    .responsive{
        display: block;
        display: flex;
        z-index: 10;
        justify-content: space-between;
        background-color: rgb(232, 78, 203);
    }
    .navoptions{
    display: none;
    position: absolute;
    top: 0px;
    z-index: 999;
    background-color: white;
    right: -500px;
    height: 100vh;
    font-size: 20px;
    line-height: 60px;
    font-weight: 700px;
    width: 100%;
    animation:  slide 0.5s  forwards;
}
@keyframes slide {
    100%{ right:0;}
    0%{left:100;}


}
.navoptions li {
        border-bottom: 2px solid grey;
        width: 100%;

    }
    .navoptions a{
    font-size: 20px;
    }
    #Departmentss{
        display: none;
    }
}